# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env
.local.env

# VSCode / PyCharm
.vscode/
.idea/

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage / testing
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
.pytest_cache/
coverage.xml

# Render specific
*.render-build/
